[Desktop Entry]
Version=1.0
Type=Application
Name=@DESKTOP_NAME@
GenericName=@DESKTOP_GENERIC_NAME@
Comment=@DESKTOP_COMMENT@
Exec=penzugyi-naplo
Icon=penzugyi-naplo
Terminal=false
Categories=Office;Finance;
Keywords=pénzügy;napló;bevétel;kiadás;számla;statisztika;aranyszámla;megtakarítás;finance;budget;gold;
StartupNotify=true
